<style>

  .cits {
    text-align: center;
  }
  .citata {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blueviolet;
  }
  
  .biogr {
    position:relative;
     margin: 15px;
  }
  
  .face {
    width: 20%;
  }
  
  .biography {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    float: right;
    margin-top: -300px;
  }
  </style>
  
  <div class="cits">
  <div class="citata">Patience is a key element of success.</div>
  <div class="citata">Life is not fair — get used to it!</div>
  <div class="citata">Success is a lousy teacher. It seduces smart people into thinking they can’t lose.</div>
  <div class="citata">Be nice to nerds. Chances are you’ll end up working for one.</div>
  </div>
  
  <div class="biogr"></div>
  <div class="face"><img src="../assets/bil.jpg" alt="billy" width="300"></div>
  <div class="biography">
    <p>Родился Билл Гейтс 28 октября 1955 года в Сиэтле.</p>
    <p>В 1968 году (Гейтс учился в 8 классе) школа приобрела компьютерное время у компании Computer Center Corporation (CCC). Билл с упоением увлёкся новой для того времени сферой и потому частенько, вместе со своим другом Полом Алленом (будущий партнёр по бизнесу), прогуливал основные занятия. Увлечение Билла вскоре принесло плоды, и он написал свою первую программу-симулятор, позволявшую человеку играть против машины (крестики-нолики).</p>
    <p>Computer Center Corporation пригласила их для выявления недоработок и брешей в безопасности. Взамен компания предложила бесконечное компьютерное время. </p>
    <p>25 декабря 1972 Билл и Пол получили заказ на написание программного пакета по распределению энергии Бонневильской плотины. На разработку программы ушёл год и в итоге они получили за неё 30 тысяч долларов.</p>
    <p>20 ноября 1985 года корпорация Microsoft выпускает операционную систему Windows 1.0x, которая на фоне конкурентов выделялась графическим дизайном. Именно с этого момента начинается эпоха Windows.</p>
    <p>На данный момент (18 января 2020 год) Билл Гейтс занимает третье место ($110,6 млрд) в списке самых богатых людей мира по версии Forbes.</p>
  </div>
  
  <div class="reference">
    <p><a href="https://znaniyaetosila.ru/bill-geyts-istoriya-uspekha" target="_blank" rel="noopener">
    Перейти на страницу источника</a></p> 
    <p><a href ="https://ru.wikipedia.org/wiki/Гейтс,_Билл" target="_blank" rel="noopener">Википедия о Билле Гейтсе</a></p> 
    <p><a href ="https://ria.ru/20200314/1568590133.html" target="_blank" rel="noopener">Интересные факты из жизни Билла Гейтса</a></p> 
    <p><a href ="https://coryrylan.com/blog/managing-external-links-safely-in-angular" target="_blank" rel="noopener">Безопасное управление внешними ссылками в Angular</a></p> 
  </div>
    
  
  